<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xiaohuodui.dao.OrganizationMapper">
    <resultMap id="BaseResultMap" type="cn.xiaohuodui.model.Organization">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="logo" property="logo" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="total_limit" property="totalLimit" jdbcType="INTEGER"/>
        <result column="sended" property="sended" jdbcType="INTEGER"/>
        <result column="starttime" property="starttime" jdbcType="BIGINT"/>
        <result column="endtime" property="endtime" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="cn.xiaohuodui.model.Organization" extends="BaseResultMap">
        <result column="des" property="des" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, code, name, logo, num, total_limit, sended, starttime, endtime
  </sql>
    <sql id="Blob_Column_List">
    des
  </sql>

    <!--查询total_limit-->
    <select id="getTotalLimit" resultType="java.lang.Integer" parameterType="map">
        select
        total_limit
        from organization
        where code = #{code,jdbcType=VARCHAR}
    </select>

    <!--获取code对应的信息-->
    <select id="getInfo" parameterType="map" resultMap="ResultMapWithBLOBs">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        FROM organization
        WHERE code = #{code,jdbcType=VARCHAR}
    </select>

    <!--判断code是否存在-->
    <select id="exist" parameterType="map" resultType="java.lang.String">
        select
        code
        FROM organization
        WHERE code = #{code,jdbcType=VARCHAR}
    </select>

    <!--获取数据总数-->
    <select id="countAll" parameterType="map" resultType="java.lang.Integer">
        select
        COUNT(id)
        from organization
        <if test="keyword!=null">
            WHERE name LIKE #{keyword}"%"
        </if>
    </select>

    <!--分页的SQL语句-->
    <select id="listPage" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM organization
        <if test="keyword!=null">
            WHERE name LIKE #{keyword}"%"
        </if>
        ORDER BY code DESC
        LIMIT #{offset},#{limit}
    </select>

    <!--查询num-->
    <select id="getNum" resultType="java.lang.Integer" parameterType="map">
    select
    num
    from organization
    where code = #{code,jdbcType=INTEGER}
  </select>

    <!--查询sended-->
    <select id="getSended" resultType="java.lang.Integer" parameterType="map">
        select
        sended
        from organization
        where code = #{code,jdbcType=VARCHAR}
    </select>

    <!--查询starttime-->
    <select id="getStarttime" resultType="java.lang.Long" parameterType="map">
        select
        starttime
        from organization
        where code = #{code,jdbcType=VARCHAR}
    </select>

    <!--查询endtime-->
    <select id="getEndtime" resultType="java.lang.Long" parameterType="map">
        select
        endtime
        from organization
        where code = #{code,jdbcType=VARCHAR}
    </select>

    <!--更新sended数量-->
    <update id="updateSended" parameterType="map">
        UPDATE organization
        SET
        sended = #{sended}
        WHERE code = #{code, jdbcType=VARCHAR}
    </update>

    <!--更新企业信息-->
<!--    <update id="updateInfo" parameterType="map">
        UPDATE organization
        SET
        <if test="des != null">
            des = #{des,jdbcType=VARCHAR},
        </if>
        <if test="logo != null">
            logo = #{logo,jdbcType=VARCHAR},
        </if>
        <if test="num != null">
            num = #{num},
        </if>
        <if test="totalLimit != null">
            total_limit = #{totalLimit},
        </if>
        WHERE code = #{code, jdbcType=VARCHAR}
    </update>-->
    <!--更新活动信息-->
    <update id="updateInfo" parameterType="map">
        UPDATE organization
        SET
        <if test="des!=null">
            des = #{des},
        </if>
        <if test="logo != null">
            logo = #{logo,jdbcType=VARCHAR},
        </if>
        <if test="totalLimit!=null">
            total_limit = #{totalLimit,jdbcType=INTEGER},
        </if>
        <if test="num!=null">
            num = #{num,jdbcType=INTEGER},
        </if>
        <if test="starttime!=null">
            starttime = #{starttime,jdbcType=BIGINT},
        </if>
        <if test="endtime!=null">
            endtime = #{endtime,jdbcType=BIGINT}
        </if>
        WHERE code = #{code}
    </update>

    <select id="selectByPrimarycode" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from organization
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteOrganization" parameterType="map">
    delete
    from organization
    where code= #{code,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByPrimarycode" parameterType="java.lang.Integer">
    delete from organization
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.xiaohuodui.model.Organization">
    insert into organization (id, code, name,
      logo, num, total_limit, 
      sended, starttime, endtime, 
      des)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{logo,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{totalLimit,jdbcType=INTEGER}, 
      #{sended,jdbcType=INTEGER}, #{starttime,jdbcType=BIGINT}, #{endtime,jdbcType=BIGINT}, 
      #{des,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="cn.xiaohuodui.model.Organization">
        insert into organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="totalLimit != null">
                total_limit,
            </if>
            <if test="sended != null">
                sended,
            </if>
            <if test="starttime != null">
                starttime,
            </if>
            <if test="endtime != null">
                endtime,
            </if>
            <if test="des != null">
                des,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="totalLimit != null">
                #{totalLimit,jdbcType=INTEGER},
            </if>
            <if test="sended != null">
                #{sended,jdbcType=INTEGER},
            </if>
            <if test="starttime != null">
                #{starttime,jdbcType=BIGINT},
            </if>
            <if test="endtime != null">
                #{endtime,jdbcType=BIGINT},
            </if>
            <if test="des != null">
                #{des,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimarycodeSelective" parameterType="cn.xiaohuodui.model.Organization">
        update organization
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="totalLimit != null">
                total_limit = #{totalLimit,jdbcType=INTEGER},
            </if>
            <if test="sended != null">
                sended = #{sended,jdbcType=INTEGER},
            </if>
            <if test="starttime != null">
                starttime = #{starttime,jdbcType=BIGINT},
            </if>
            <if test="endtime != null">
                endtime = #{endtime,jdbcType=BIGINT},
            </if>
            <if test="des != null">
                des = #{des,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimarycodeWithBLOBs" parameterType="cn.xiaohuodui.model.Organization">
    update organization
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      total_limit = #{totalLimit,jdbcType=INTEGER},
      sended = #{sended,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=BIGINT},
      endtime = #{endtime,jdbcType=BIGINT},
      des = #{des,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimarycode" parameterType="cn.xiaohuodui.model.Organization">
    update organization
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      total_limit = #{totalLimit,jdbcType=INTEGER},
      sended = #{sended,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=BIGINT},
      endtime = #{endtime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>