<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqx.dao.Shareinfo1Mapper">
    <resultMap id="BaseResultMap" type="com.cqx.model.Shareinfo1">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--分页的SQL语句-->
    <select id="listFenYe" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM share
        where
        code = #{code,jdbcType=VARCHAR}
        AND type = #{type,jdbcType=VARCHAR}
        ORDER BY created DESC
        LIMIT #{offset},#{limit}
    </select>

    <!--个人分享连接所分发出的优惠信息-->
    <select id="ListP" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT * FROM share
    where code = #{code,jdbcType=VARCHAR} AND
    type = #{type,jdbcType=VARCHAR}

  </select>

    <!--官方分享连接所分发出的优惠信息-->
    <select id="ListO" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT * FROM share
    where code = #{code,jdbcType=VARCHAR} AND
    type = 0

  </select>

    <!--查询是否已经领取了  检测手机号是否存在-->
    <select id="exist" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM share
    WHERE phone = #{phone,jdbcType=VARCHAR}

  </select>


    <sql id="Base_Column_List">
    id, code, type, phone, created
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from share
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from share
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.cqx.model.Shareinfo1">
    insert into share (id, code, type, 
      phone, created)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.cqx.model.Shareinfo1">
        insert into share
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="created != null">
                created,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cqx.model.Shareinfo1">
        update share
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cqx.model.Shareinfo1">
    update share
    set code = #{code,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>