<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <mvc:default-servlet-handler/>
    <context:annotation-config/>
    <import resource="classpath*:applicationContext-service.xml"/>
    <mvc:resources mapping="/resources/**" location="/WEB-INF/resources/"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="order" value="1"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/v1/**"/>
            <mvc:exclude-mapping path="/m/**"/>
            <bean class="cn.xiaohuodui.interceptors.SignInInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/v1/**"/>
            <bean class="cn.xiaohuodui.auth.AuthenticationInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <context:component-scan base-package="cn.xiaohuodui.controller"/>
    <context:component-scan base-package="cn.xiaohuodui.rest"/>
    <mvc:annotation-driven/>


    <!--定时器配置-->
    <!--注册任务bean-->
    <bean id="taskList" class="cn.xiaohuodui.quartz.TaskList"/>

    <!--配置要执行的方法-->
    <bean id="setinfos" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="taskList"/>
        </property>
        <property name="targetMethod">
            <value>setInfos</value>
        </property>
    </bean>

    <!--配置触发器-->
    <bean id="cronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="setinfos"></property>
        <property name="cronExpression">
            <!--每天23.50进行任务-->
            <value>0 50 23 * * ?</value>
            <!--<value>0 0/2 * * * ?</value>  每五分钟执行一次-->
        </property>
    </bean>

    <!--配置调度工厂-->
    <bean id="springJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTriggerBean"/>
            </list>
        </property>
    </bean>

</beans>
